In [ ]:
#1. What is a database? Differentiate between SQL and NoSQL databases.
# A database is an organized collection of data that can be easily accessed, managed, and updated.
# SQL databases are relational and use structured query language to define and manipulate data. Examples: MySQL, PostgreSQL.
# NoSQL databases are non-relational and store unstructured or semi-structured data. Examples: MongoDB, Cassandra.

#2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
# DDL (Data Definition Language) is used to define and modify database structures.
# Example:
# CREATE TABLE students (id INT PRIMARY KEY, name VARCHAR(50));
# DROP TABLE students;
# ALTER TABLE students ADD COLUMN age INT;
# TRUNCATE TABLE students;

#3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
# DML (Data Manipulation Language) is used to manipulate data in tables.
# Example:
# INSERT INTO students (id, name, age) VALUES (1, 'John', 20);
# UPDATE students SET age = 21 WHERE id = 1;
# DELETE FROM students WHERE id = 1;

#4. What is DQL? Explain SELECT with an example.
# DQL (Data Query Language) is used to query data from a table.
# Example:
# SELECT * FROM students WHERE age > 20;

#5. Explain Primary Key and Foreign Key.
# Primary Key uniquely identifies a row in a table. Example: id in a students table.
# Foreign Key establishes a relationship between two tables. Example: student_id in a grades table referencing id in the students table.

#6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
import mysql.connector
# Establishing connection
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="password",
    database="school"
)
cursor = connection.cursor()  # Create a cursor object to execute SQL commands
cursor.execute("SELECT * FROM students")  # Execute a query
results = cursor.fetchall()  # Fetch all results
for row in results:
    print(row)
connection.close()

#7. Give the order of execution of SQL clauses in an SQL query.
# The order of execution is:
# 1. FROM
# 2. WHERE
# 3. GROUP BY
# 4. HAVING
# 5. SELECT
# 6. ORDER BY
# 7. LIMIT