In [ ]:
# Q1: Create a Pandas Series with the given data and print the series
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

# Q2: Create a list with 10 elements, convert it to a Pandas Series, and print it
list_data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series_from_list = pd.Series(list_data)
print(series_from_list)

# Q3: Create a Pandas DataFrame and print it
data_dict = {
    "Name": ["Alice", "Bob", "Claire"],
    "Age": [25, 30, 27],
    "Gender": ["Female", "Male", "Female"]
}

df = pd.DataFrame(data_dict)
print(df)

# Q4: DataFrame vs Series in pandas
# Series: A one-dimensional labeled array that can hold any data type (integers, strings, floats, etc.)
# DataFrame: A two-dimensional labeled data structure, similar to a table, where data is stored in rows and columns.

# Example of Series:
series_example = pd.Series([10, 20, 30, 40])
print(series_example)

# Example of DataFrame:
dataframe_example = pd.DataFrame({"Column1": [1, 2, 3], "Column2": [4, 5, 6]})
print(dataframe_example)

# Q5: Common functions to manipulate data in a Pandas DataFrame
# Functions like 'head()', 'tail()', 'drop()', 'sort_values()', and 'groupby()' are commonly used.

# Example: Using 'head()' to view the first 2 rows of a DataFrame
print(df.head(2))

# Q6: Mutable in nature - Series, DataFrame, Panel
# DataFrame is mutable, meaning you can modify its data. Series is also mutable, but Panel (which is deprecated) is a 3D object that was mutable.

# Q7: Create a DataFrame using multiple Series
name_series = pd.Series(["Alice", "Bob", "Claire"])
age_series = pd.Series([25, 30, 27])
gender_series = pd.Series(["Female", "Male", "Female"])

df_from_series = pd.DataFrame({"Name": name_series, "Age": age_series, "Gender": gender_series})
print(df_from_series)